@import 'layout.scss';
@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include middle {
    flex-direction: row;
  }
  @include large {
    flex-direction: row;
  }
}
