* {
  box-sizing: border-box;
}
div {
  margin: 16px;
  border-bottom: 1px dotted black;
}
.text {
  position: relative;
  display: inline-block;
}
.text:hover .tooltip{
  display: inline-block;
}
.tooltip {
  display: none;
  position: absolute;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  bottom: -40px;
  left: 0;
}