* {
  box-sizing: border-box;
}
header {
  display: flex;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 300px;
  flex-grow: 1;
}
